<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Добавление студента</h2>
    <form method="POST">
        {% csrf_token %}
        <p>
            <label>Введите имя</label><br>
            <input type="text" name="name" />
        </p>
        <p>
            <label>Выберите курсы</label>
            <div>
                {% for course in courses %}
                    <input type="checkbox" name="courses" value="{{ course.id }}" />{{ course.name }} <br />
                {% endfor %}
            </div>
        </p>
        <input type="submit" value="Сохранить">
    </form>
</body>
</html>